.news
{
    background-color: $very-dark-blue;
    width: 100%;
    color: $off-white;
    padding: 1.5rem;

    &__title
    {
        color: $soft-orange;
        font-size: 2.5rem;
        font-weight: $font-bolder;
        &::selection
        {
            color: $off-white;
            background-color: $soft-orange;
        }
    }
    &__menu
    {
        list-style: none;
        margin-top: 1.75rem;
        display: grid;
        gap: 2rem;
    }
    &__heading
    {
        font-weight: $font-bold;
        margin-bottom: 1rem;
        cursor: pointer;
        &::selection
        {
            color: $off-white;
            background-color: $red;
        }
    }
    &__content
    {
        border-bottom: 1px $dark-grayish-blue solid;
        padding-bottom: 1rem;
        cursor: pointer;

        &:hover .news__heading
        {
            color: $soft-orange;
        }
        &:hover .news__text
        {
            color: $grayish-blue;
        }

        &:last-child
        {
            border-bottom: none;
        }
    }
    &__text
    {
        color: $dark-grayish-blue;
        font-weight: $font-regular;
        &::selection
        {
            color: black;
            background-color: $soft-orange;
        }
    }
}